.chart__header {
  font-weight: normal;
  padding: 10px;
}

.chart__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--chartBarNumber), 1fr);
  column-gap: 8px;
  align-items: end;
  width: 90vw;
  height: 210px;
  border: 1px solid hsl(216, 52%, 55%);
  border-radius: 8px;
  padding: 4px;
}

.chart__dayLimit {
  position: absolute;
  top: 34px;
  display: inline-block;
  background-color: hsla(216, 53%, 20%, 0.205);
  color: black;
  width: 100%;
  height: 180px;
  font-size: 10px;
}

.chart__nav {
  margin: 16px auto;
  border-radius: 16px;
  background-color: hsl(216, 52%, 20%);
}

.chart__type {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 16px;
  &--active {
    background-color: $titlecolor;
    color: hsl(216, 52%, 20%);
  }
}

.chart__oneDay {
  background: $titlecolor;
  // opacity: 80%;
  min-width: 10px;
  min-height: 2px;
  height: var(--barHeight);
}

.chart__description {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: $titlecolor;
  // in case chart for month set
  &-month {
    grid-template-columns: repeat(6, 1fr);
    // and for child
    .chart__barDescription {
      // change align to left
      margin: 0;
    }
  }
}

.chart__barDescription {
  font-size: 10px;
  margin: 0 auto;
}
