.chart__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--chartBarNumber), 1fr);
  column-gap: 4px;
  align-items: end;
  width: 90vw;
  height: 230px;
  border: 1px solid hsl(216, 52%, 55%);
  border-radius: 8px;
  padding: 4px;
}

.chart__dayLimit {
  position: absolute;
  margin: 4px 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: hsla(216, 53%, 20%, 0.15);
  width: 100%;
  height: 180px;
}

.dayLimit__cell {
  border-top: 1px solid hsla(216, 53%, 20%, 0.3);
  font-size: xx-large;
  color: hsla(0, 0%, 100%, 0.2);
  text-align: center;
  ;
}

.chart__nav {
  margin: 16px auto;
  border-radius: 16px;
  background-color: hsl(216, 52%, 20%);
}

.chart__type {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 16px;
  &--active {
    background-color: $titlecolor;
    color: hsl(216, 52%, 20%);
  }
}

.chart__oneDay {
  background: $titlecolor;
  min-height: 2px;
  height: var(--barHeight);
}

.chart__description {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: $titlecolor;
  // in case chart for month set
  &-month {
    grid-template-columns: repeat(6, 1fr);
    // and for child
    .chart__barDescription {
      // change align to left
      margin: 0;
    }
  }
}

.chart__barDescription {
  font-size: 10px;
  margin: 0 auto;
}

.chart__header {
  position: absolute;
  font-size: small;
  h1 {
    margin-top: 0.5em;
  }
}

.main__chartNavigation {
  width: 90vw;
  a {
    text-decoration: none;
    font-size: 40px;
    color: inherit;
  }
}
