.waterHistory {
  padding: 8px;
  margin: 16px auto 8px;
  border: 1px solid hsl(216, 52%, 55%);
  border-radius: 8px;
}

.waterHistory--record {
  margin: 8px auto;
  &::before {
    content: "🥤  ";
  }
}

.waterHistory--heading {
  font-weight: normal;
}
