@import "~normalize.css";

@import "_variables";
@import "modules/chart.scss";
@import "modules/history.scss";

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: $background;
  color: $titlecolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-size: 55px;
  padding: 32px;
}

.glass {
  display: block;
  position: relative;
  margin-bottom: 12px;
}
@mixin buttonSize {
  width: 216px;
  height: 48px;
  size: 18px;
  margin-top: 8px;
  display: block;
  border-width: 0;
}

.glass {
  &__addButton {
    @include buttonSize();
    border-radius: 8px;
  }
  &__removeButton {
    @include buttonSize();
    color: white;
    background: $background;
  }
}

.glass__count {
  box-sizing: border-box;
  position: absolute;
  height: 280px;
  width: 280px;
  font-size: 112px;
  font-weight: 500;
  color: $countcolor;
  padding-top: 114px;
  text-align: center;
}

.main__navigation {
  width: 90vw;
  padding: 16px 16px;
}

.navigation__link {
  text-decoration: none;
  font-size: 44px;
}

.navigation {
  color: $titlecolor;
  padding: 10px 0;
}

.navigation__link {
  color: inherit;
  font-style: normal;
}

.testuje__import_opacity {
  opacity: 60%;
}
