@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: $background;
  color: $titlecolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.chart__header {
  font-weight: normal;
  padding: 10px;
}

.chart__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 400px;
  width: 80vw;
  height: 200px;
  border: 1px solid hsl(216, 52%, 55%);
  border-radius: 8px;
  padding: 4px;
}

.chart__nav {
  padding: 4px 16px;
  margin: 16px auto;
  border-radius: 16px;
  background-color: hsl(216, 52%, 20%);
}


.chart__oneDay {
  background: $titlecolor;
  opacity: 50%;
  min-width: 10px;
  width: var(--chartBarWidth);
  min-height: 2px;
  height: var(--barHeight);
}

.header {
  font-size: 55px;
  padding: 32px;
}

.glass {
  display: block;
  position: relative;
  margin-bottom: 12px;
}
@mixin buttonSize {
  width: 216px;
  height: 48px;
  size: 18px;
  margin-top: 8px;
  display: block;
  border-width: 0;
}

.glass {
  &__addButton {
    @include buttonSize();
    border-radius: 8px;
  }
  &__removeButton {
    @include buttonSize();
    color: white;
    background: $background;
  }
}

.glass__count {
  box-sizing: border-box;
  position: absolute;
  height: 280px;
  width: 280px;
  font-size: 112px;
  font-weight: 500;
  color: $countcolor;
  padding-top: 114px;
  text-align: center;
}

.navigation {
  color: $titlecolor;
  padding: 10px 0;
}

.navigation__link {
  color: inherit;
  font-style: normal;
}

.waterHistory--record:after {
  content: "🥤";
}

.waterHistory--heading {
  font-weight: normal;
}
